.main {
	margin-left: 10%;
	margin-right: 10%;
}

.header{
	/*margin-left: 2%;
	margin-right: 2%;*/
}	
.navbar{
	max-height:100px;
}
b#headTitle{
	font-family: "Helvetica";
	color: #E10018;
	text-align: center;
}
@media (min-width: 1921px) {
	.main{
		margin-left: 24%;
		margin-right: 24%;

	}
	nav.navbar.navbar-default.navbar-fixed-top{
		margin-left: 17%;
		margin-right: 17%;
	}
}

@media (min-width: 1441px) and (max-width:1920px) {
	.main{
		margin-left: 12%;
		margin-right: 12%;

	}
	nav.navbar.navbar-default.navbar-fixed-top{
		margin-left: 1%;
		margin-right: 1%;
	}
}
@media (min-width: 1201px){
	b#headTitle{
		font-size: 2em;
	}
	nav.navbar.navbar-default.navbar-fixed-top{
		/*height: 30%;*/
		/*padding-top: 25px;*/
		min-height: 0px;

	}
}
@media (max-width: 1200px){
	b#headTitle{
		font-size: 1.4em;
	}
	nav.navbar.navbar-default.navbar-fixed-top{
		/*height: 115px;*/
		/*padding-top: 25px;*/
		min-height: 0px;

	}
}

@media(max-width: 992px){
		b#headTitle{
		font-size: 1em;
	}
	li#navBut > a, a#basic-nav-dropdown{
		font-size: 20px;
	}
	img#banner {
		display: none;
	}	
	#McGill{
		text-align: center;
	}

	#McGillMed{
		text-align: center;
	}

}
@media (min-width: 768px){
	.bottom-column{
	    float: none;
	    display: table-cell;
	    vertical-align: bottom;

	}
	img#banner {
		min-width: 800px;
	}

}

@media(max-width: 767px){
	img#banner {
		display: none;
	}	
	.banner.col-lg-12.col-md-12.col-sm-12.col-xs-12{
		text-align: center;
	}
	nav.navbar.navbar-default{
		float:none;
	}
	#McGill-name{
		display: none;
	}
	.banner{
		display: none;
	}
	nav.navbar.navbar-default.navbar-fixed-top{
		/*height: 80px;*/
		/*padding-top: 25px;*/
		min-height: 0px;

	}
	ul.nav.navbar-nav.pull-right{
		float:none !important;
		background: white;
	}
	ul.nav.navbar-nav{
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.navbar-header{
		height:0px;
	}

}

.pageTitle >h1{
	font-size: 40px;
	color: white;
}

.pageTitle{
	height:80px;
	background-color: #E10018;
}


html{
  height: 100%;
  width: 100%;

}
body {
  min-height: 100%;
  min-width: 100%;

}
#McGill{
	text-align: right;
}

#McGillMed{
	text-align: left;
}

#content,.encompass.panel.panel-default{
	height:100%;
	width: 100%;
	padding-top: 65px;
	/*border-style: solid;
    border-width: 1px;*/

}
.panel-body{
	height: 100%;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.panel-default{
	border-color:white;
}
.footer{
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	color:grey;
	background-color: white;


}

.navbar-collapse {
  overflow: hidden;

}
.encompass.panel.panel-default{
/*	height:1080px;
	width:960px;*/

	margin:0;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
body{
	/*background-image: url(Pictures/gradient-pattern-abstract-hd-wallpaper-1920x1080-2388.jpg);*/
	/*background-image: url(Pictures/pen.png);*/
	/*background-repeat:no-repeat;*/
	/*background-position: center left!important;*/
	/*background-size: 10%;*/
	background: url(Pictures/pen.png) no-repeat center center fixed; 
  /*-webkit-background-size: 10%;*/
  -moz-background-size: 10%;
  -o-background-size: 10%;
  background-size: 10%;
	/*background-margin: 25%;*/
	height: 100%

}

.bottom-column.col-lg-1.col-md-12.col-xs-12{
	margin:0;
	/*padding: 0;*/
	/*padding-left: 2%;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;*/

}
.bottom-column.col-lg-11.col-md-12.col-xs-12{
	margin:0;
	padding: 0;

}
.banner.col-lg-12.col-md-12.col-sm-12.col-xs-12{
	padding-left: 30px
}
nav.nana.navbar-collapse.collapse{
	padding-right: 0px;
	color: #E10018;
}
.container{
	padding-left: 15px;
	margin-left: 10%;
	margin-right: 10%;
	height: 140px;
	width:80%;
}
a#homeButton{
	padding-left: 0;
}
img#pen {
}
.banner{
	text-align: left;
/*	border-style: solid;
    border-width: 1px;*/
   width:98%;
}
li#navBut > a, a#basic-nav-dropdown{
	font-size: 16px; /*!!! CHECK IF THERE'S A BETTER WAY TO DO THIS !!!*/
	color: #E10018;
}
h1#title{
	font-family: "Helvetica";
	font-size: 2.4em;
	color: #E10018;
}

.nana{
	font-size: 2em;
}
a.navbar-brand{
	font-size:2em;
}

em{
	color:darkgrey;
}

.panel-footer{
	text-align: center;
}

div#headerText{
	width:98%;
}
nav.navbar.navbar-default{
	/*margin-right: 13.5%;*/
	margin-bottom: 0;
	float: left;
	background-color: white;
	border-color: white;
}
.tab{
	font-family: "Helvetica";
	font-size: 24px;
	color: black;
}
#McGill-name{
	float:left;
	text-align: left;
	color: #E10018;
	font-size: 40px;
}
i{
	color: darkgrey;

}

.carousel img{
	height: 523px;
	width: 928px;
}

h1 {
	font-family: "Helvetica";
	font-size: 26px;
	white-space: nowrap;
}

.button-description{
	font-family: "Helvetica";
}

div.button-title.col-md-12{
	font-family: "Helvetica";
	color: #E10018;
	font-weight: bold;
}